@keyframes pulse
    from 
        transform rotate(60deg) scale(1)
    50%
        transform rotate(55deg) scale(1.2)
    to
        transform rotate(60deg) scale(1)
@keyframes dance
    from 
        transform rotate(0deg)
    33%
        transform rotate(10deg) 
    66%
        transform rotate(-10deg)
    to
        transform rotate(0deg)