.footer
    background #1D293F
    padding-top 133px
    padding-bottom 29px
    position relative
    .wrapper
        display flex
        justify-content space-between
    &__descr
        width 270px
        margin-bottom 123px
        img
            margin-bottom 22px
        .text
            font-size 0.9
            line-height 1.8
            margin-bottom 38px
    &__menu
        display flex
        justify-content space-between
        ul
            list-style-type none
            max-width 249px
            li
                margin-bottom 33px
                a
                    text-decoration none
                    color #E9F7FE
                    font-size 0.9em
                    line-height 1.8
            .top 
                // font-size 1em/
                margin-bottom 32px
                color #8c97ac
            .colored
                color #ffd166
        .menu-first
            margin-right 70px
        .menu-second
            margin-right 84px
    button
        width 126px
        padding-top 0
        border none
        cursor pointer
    .divider
        margin-bottom 26px
    .cellar
        display flex
        justify-content space-between
        p
            color #8C97AC
            font-size 0.7em
        .social
            a
                margin-left 23px
    .circle
        position absolute
        width 255px
        height 255px
        background-color #ffd166
        border-radius 50%
        bottom -132px
        left -127px
    .rectangle
        position absolute
        width 419px
        height 419px
        background-color #37def5
        border-radius 35px
        right -307px
        top -307px
        transform rotate(60deg)