*
    margin 0
    padding 0
    box-sizing border-box
    font-family 'Circular Std', Arial, sans-serif

body
    margin 0 auto
    background: linear-gradient(0deg, #f7f8fa 0%, #edeef0 100%);

.container
    width 1100px
    margin 0 auto
    width 1100px
    margin 0 auto

.button
    display inline-block
    border-radius 5px
    color #ffffff
    background #0f53fa
    text-decoration none
    padding 20px
    font-size 16px
    line-height 1.2
    font-weight 500
    &:hover
        transform scale(1.1)
        transition 0.8s ease
    &-mini
        font-size 13px
        padding 18px
.title
    font-size 48px
    line-height 56px
    font-weight 700
    letter-spacing -0.017em
    color #1d293f
    margin-bottom 25px

.text
    font-size 18px
    line-height 32px
    color #7c8087