.plan
    padding-top 153px
    margin 0 auto 121px
    &__header
        display flex
        justify-content space-between
        margin-bottom 42px
        .title
            width 400px
        .plan-switch
            border 3px solid #FFD166
            border-radius 10px
            width 345px
            height 56px
            .switch-yearly
                background #FFD166
                color #1D293F
                text-align center
                padding-top 16px
                display inline-block
                height 100%
                width 50%
                text-decoration none
            .switch-monthly
                background #FFF
    .variant
        display flex
        justify-content space-between
        margin-bottom 33px
        &__name
            font-size 21px
            line-height 34px
            font-weight bold
        &__list
            font-size 18px
            line-height 40px
            li
                list-style-type none
        &__cost
            font-size 58px
            line-height 64px
            font-weight 500
            letter-spacing -0.017em
            p
                font-size 16px;
                line-height 24px
                font-weight normal
                color #7c8087
                width 110px
.divider-plan
    margin-bottom 35px