.place
    margin 0 auto 217px
    overflow hidden
    .container
        display flex
        justify-content space-between
    &__descr
        padding-top 136px
        padding-right 10px
        .text
            margin-bottom 58px
        &-list
            list-style-type none
        &-item
            display flex
            align-items center
            margin-bottom 19px
            font-size 1.3em
            line-height 1.4
            color #1d293f
            p 
               font-family 'Circular Std', Arial, sans-serif
               font-weight 500
        &-round
            width 59px
            height 59px
            border-radius 50%
            background-color #f7f8fa
            display flex
            justify-content center
            align-items center
            margin-right 19px
    &__media
        position relative
        width 60%
    &-circle
        width 612px
        height 612px
        background-color #ffd166
        border-radius 50%
    &-img-big
        position absolute
        left 198px
        top 54px
        height 614px
        z-index 0
        border-radius 15px
        box-shadow -3.345px 8.825px 39px 0px rgba(29, 41, 63, 0.19)
        object-fit cover
        object-position left
    .frame
        background #fff
        padding 5px
        position absolute
        left 70px
        top 155px
        z-index 1
        transform rotate(-9deg)
        border-radius 15px
        box-shadow -3.345px 31.825px 84px 0px rgba(29, 41, 63, 0.19)
        animation dance 1.3s ease infinite

.outline
    width 42px
    height 25px
    background-color #ffd166
    border-radius 5px
    font-size 0.7
    line-height 1.2
    margin-left 15px
    display flex
    justify-content center
    align-items center