.promo
    height 990px
    background #F7F8FA
    overflow hidden
    &__button
        margin-bottom 18px
    &__descr
        width 520px
        margin 0 auto
        margin-bottom 109px
        text-align center
        h1
            font-family 'Circular Std', Arial, sans-serif
            font-weight bold
            font-size 3.2em
            line-height 1.1
            margin-bottom 19px
            color #1D293F
        &-text
            font-size 1.2em
            line-height 1.2
            color #7c8087
            margin-bottom 40px
            &-mini
                font-size 0.7em
                line-height 20px
                color #8c97ac
    &__media
        position relative
        text-align center
        img 
            position: relative
            border-radius 15px
            z-index 0
            object-fit cover
            object-position top
    &__circle
        position absolute
        top -90px
        right 0
        width 282px
        height 282px
        background-color #38dff6
        border-radius 50%
        animation pulse 2.1s ease infinite
    &__rectangle
        position absolute
        top 151px
        left 0
        width 304px
        height 304px
        background-color #ffd166
        border-radius 30px
        animation pulse 2.1s ease infinite
    .wrapper
        display flex
        justify-content space-between
        align-items center
        padding 12px 12px 0
        margin 0 auto 119px
        max-width 1400px
    .nav-list
        list-style-type none
        display flex
        justify-content space-between
        align-items center
    .nav-item
        margin-right 42px
        font-size 0.9em
        line-height 1.8
        &:last-child
            margin-right 0
        &_link
            text-decoration none
            color #1d293f