.reviews
    background #F7F8FA
    padding-top 139px
    position relative
    overflow hidden
    &-circle
        position absolute
        top -381px
        right -191px
        width 543px
        height 543px
        border-radius 50%
        background #FFD166
        // z-index 2
    &__descr
        width 550px
        margin 0 auto
        margin-bottom 109px
        text-align center
        position relative
        .title
            margin-bottom 19px
    &__grid
        margin 0 auto 165px
        display flex
        justify-content center
        flex-wrap wrap
        gap 29px 20px
        &-card
            background #fff
            width 353px
            height 188px
            padding 22px 20px
            border solid 1px #f0f1f3
            border-radius 15px
            .card-header
                display flex
                position relative
                align-items center
                margin-bottom 23px
                .name
                    padding-left 13px
                    color #1D293F
                    // font-size 18px
                .job 
                    color #7C8087
                    font-size 0.7em
                .icon
                    position absolute
                    right 0
            .card-text
                color #7C8087
                font-size 0.9em