.work
    margin 0 auto 198px
    .container
        display flex
        justify-content space-between
    .circle
        width 542px
        height 542px
        background-color #ffd166
        border-radius 50%
        position relative
        left 1005px
        top 321px
    &__media
        position relative
    &-circle
        width 504px
        height 504px
        background-color #37def5
        border-radius 50%
        z-index -99
    &-img-big
        position absolute
        top -44px
        left 82px
        z-index 0
        transform rotate(6deg)
        border-radius 15px
        width 315px
        height 580px
        object-fit cover
        object-position top
        box-shadow -3.345px 31.825px 84px 0px rgba(29, 41, 63, 0.19)
    &-img-small
        position absolute
        right -29px
        bottom 160px
        z-index 1
        transform rotate(-4deg)
        border-radius 15px
        box-shadow -3.345px 31.825px 84px 0px rgba(29, 41, 63, 0.19)
    &__descr
        padding-top 55px
        width 380px
        .text
            margin-bottom 59px
    &__button
        text-decoration none
        width 240px
        height 76px
        border-radius 5px
        display flex
        justify-content space-evenly
        align-items center
        color #fff
        margin-bottom 15px
        background-color #0f53fa
        .button-text
            // margin-left 23px
            // padding-top 12px
            .get
                line-height 0.8
                margin-bottom 13px
            .shop
                font-weight bold
                font-size 1.3em
        &-white
            border 2px solid #e2e4e8
            background-color #fff
            .button-text
                .get
                    color #7c8087
                .shop
                    color #1d293f
        &:hover
            transform scale(1.1)
            img
                animation dance 0.5s ease infinite