@font-face {
  font-family: 'Circular Std Book';
  src: url("font/CircularStd-Book.eot");
  src: local('Circular Std Book'), local('CircularStd-Book'), url("font/CircularStd-Book.eot?#iefix") format('embedded-opentype'), url("font/CircularStd-Book.woff2") format('woff2'), url("font/CircularStd-Book.woff") format('woff'), url("font/CircularStd-Book.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url("font/CircularStd-Medium.eot");
  src: local('Circular Std Medium'), local('CircularStd-Medium'), url("font/CircularStd-Medium.eot?#iefix") format('embedded-opentype'), url("font/CircularStd-Medium.woff2") format('woff2'), url("font/CircularStd-Medium.woff") format('woff'), url("font/CircularStd-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url("font/CircularStd-Bold.eot");
  src: local('Circular Std Bold'), local('CircularStd-Bold'), url("font/CircularStd-Bold.eot?#iefix") format('embedded-opentype'), url("font/CircularStd-Bold.woff2") format('woff2'), url("font/CircularStd-Bold.woff") format('woff'), url("font/CircularStd-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@-moz-keyframes pulse {
  from {
    transform: rotate(60deg) scale(1);
  }
  50% {
    transform: rotate(55deg) scale(1.2);
  }
  to {
    transform: rotate(60deg) scale(1);
  }
}
@-webkit-keyframes pulse {
  from {
    transform: rotate(60deg) scale(1);
  }
  50% {
    transform: rotate(55deg) scale(1.2);
  }
  to {
    transform: rotate(60deg) scale(1);
  }
}
@-o-keyframes pulse {
  from {
    transform: rotate(60deg) scale(1);
  }
  50% {
    transform: rotate(55deg) scale(1.2);
  }
  to {
    transform: rotate(60deg) scale(1);
  }
}
@keyframes pulse {
  from {
    transform: rotate(60deg) scale(1);
  }
  50% {
    transform: rotate(55deg) scale(1.2);
  }
  to {
    transform: rotate(60deg) scale(1);
  }
}
@-moz-keyframes dance {
  from {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes dance {
  from {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-o-keyframes dance {
  from {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes dance {
  from {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(0deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circular Std Book', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
}
body {
  margin: 0 auto;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.button {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background: #0f53fa;
  text-decoration: none;
  height: 56px;
  width: 218px;
  padding-top: 20px;
  font-size: 0.9em;
  line-height: 1.2;
  font-family: 'Circular Std', Arial, sans-serif;
  font-weight: 500;
  text-align: center;
}
.button-white {
  background-color: #fff;
  color: #1d293f;
  border: 2px solid #e2e4e8;
}
.button:hover {
  transform: scale(1.1);
  transition: 0.8s ease-in-out;
}
.button-mini {
  font-size: 0.7em;
  padding-top: 17px;
  height: 46px;
  width: 171px;
}
.title {
  font-size: 2.7em;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'Circular Std', Arial, sans-serif;
  letter-spacing: -0.017em;
  color: #1d293f;
  margin-bottom: 25px;
}
.text {
  font-size: 1em;
  line-height: 1.2;
  color: #7c8087;
}
.divider {
  height: 1px;
  background-color: #eceff4;
  margin-bottom: 118px;
}
.promo {
  height: 990px;
  background: #f7f8fa;
  overflow: hidden;
}
.promo__button {
  margin-bottom: 18px;
}
.promo__descr {
  width: 520px;
  margin: 0 auto;
  margin-bottom: 109px;
  text-align: center;
}
.promo__descr h1 {
  font-family: 'Circular Std', Arial, sans-serif;
  font-weight: bold;
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 19px;
  color: #1d293f;
}
.promo__descr-text {
  font-size: 1.2em;
  line-height: 1.2;
  color: #7c8087;
  margin-bottom: 40px;
}
.promo__descr-text-mini {
  font-size: 0.7em;
  line-height: 20px;
  color: #8c97ac;
}
.promo__media {
  position: relative;
  text-align: center;
}
.promo__media img {
  position: relative;
  border-radius: 15px;
  z-index: 0;
  object-fit: cover;
  object-position: top;
}
.promo__circle {
  position: absolute;
  top: -90px;
  right: 0;
  width: 282px;
  height: 282px;
  background-color: #38dff6;
  border-radius: 50%;
  animation: pulse 2.1s ease infinite;
}
.promo__rectangle {
  position: absolute;
  top: 151px;
  left: 0;
  width: 304px;
  height: 304px;
  background-color: #ffd166;
  border-radius: 30px;
  animation: pulse 2.1s ease infinite;
}
.promo .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 0;
  margin: 0 auto 119px;
  max-width: 1400px;
}
.promo .nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo .nav-item {
  margin-right: 42px;
  font-size: 0.9em;
  line-height: 1.8;
}
.promo .nav-item:last-child {
  margin-right: 0;
}
.promo .nav-item_link {
  text-decoration: none;
  color: #1d293f;
}
.feature {
  margin: 0 auto 118px;
  padding-top: 50px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.feature .title {
  text-align: center;
  margin-bottom: 18px;
}
.feature__text {
  line-height: 1.4;
  color: #7c8087;
  width: 489px;
  margin: 0 auto 84px;
  text-align: center;
}
.feature__carousel {
  display: flex;
  justify-content: space-between;
  width: 101vw;
  position: absolute;
  transform: translateX(-20%);
  background-color: #fff;
  gap: 1%;
}
.feature__button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 0;
  margin: 304px auto 10px;
}
.card {
  display: flex;
  justify-content: start;
  height: 158px;
  background-color: #f7f8fa;
  border-radius: 10px;
  padding: 24px 20px 0;
}
.card:first-child,
.card:last-child {
  opacity: 0.08;
}
.card-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-descr {
  width: 204px;
  color: #7c8087;
  margin-left: 20px;
}
.card-descr p {
  font-size: 0.9em;
  line-height: 1.6;
}
.card-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #1d293f;
}
.companies {
  display: flex;
  margin: 0 auto 138px;
  justify-content: space-evenly;
}
.companies img {
  opacity: 0.5;
  object-fit: contain;
}
.place {
  margin: 0 auto 217px;
  overflow: hidden;
}
.place .container {
  display: flex;
  justify-content: space-between;
}
.place__descr {
  padding-top: 136px;
  padding-right: 10px;
}
.place__descr .text {
  margin-bottom: 58px;
}
.place__descr-list {
  list-style-type: none;
}
.place__descr-item {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  font-size: 1.3em;
  line-height: 1.4;
  color: #1d293f;
}
.place__descr-item p {
  font-family: 'Circular Std', Arial, sans-serif;
  font-weight: 500;
}
.place__descr-round {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 19px;
}
.place__media {
  position: relative;
  width: 60%;
}
.place-circle {
  width: 612px;
  height: 612px;
  background-color: #ffd166;
  border-radius: 50%;
}
.place-img-big {
  position: absolute;
  left: 198px;
  top: 54px;
  height: 614px;
  z-index: 0;
  border-radius: 15px;
  box-shadow: -3.345px 8.825px 39px 0px rgba(29,41,63,0.19);
  object-fit: cover;
  object-position: left;
}
.place .frame {
  background: #fff;
  padding: 5px;
  position: absolute;
  left: 70px;
  top: 155px;
  z-index: 1;
  transform: rotate(-9deg);
  border-radius: 15px;
  box-shadow: -3.345px 31.825px 84px 0px rgba(29,41,63,0.19);
  animation: dance 1.3s ease infinite;
}
.outline {
  width: 42px;
  height: 25px;
  background-color: #ffd166;
  border-radius: 5px;
  font-size: 0.7;
  line-height: 1.2;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work {
  margin: 0 auto 198px;
}
.work .container {
  display: flex;
  justify-content: space-between;
}
.work .circle {
  width: 542px;
  height: 542px;
  background-color: #ffd166;
  border-radius: 50%;
  position: relative;
  left: 1005px;
  top: 321px;
}
.work__media {
  position: relative;
}
.work-circle {
  width: 504px;
  height: 504px;
  background-color: #37def5;
  border-radius: 50%;
  z-index: -99;
}
.work-img-big {
  position: absolute;
  top: -44px;
  left: 82px;
  z-index: 0;
  transform: rotate(6deg);
  border-radius: 15px;
  width: 315px;
  height: 580px;
  object-fit: cover;
  object-position: top;
  box-shadow: -3.345px 31.825px 84px 0px rgba(29,41,63,0.19);
}
.work-img-small {
  position: absolute;
  right: -29px;
  bottom: 160px;
  z-index: 1;
  transform: rotate(-4deg);
  border-radius: 15px;
  box-shadow: -3.345px 31.825px 84px 0px rgba(29,41,63,0.19);
}
.work__descr {
  padding-top: 55px;
  width: 380px;
}
.work__descr .text {
  margin-bottom: 59px;
}
.work__button {
  text-decoration: none;
  width: 240px;
  height: 76px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  margin-bottom: 15px;
  background-color: #0f53fa;
}
.work__button .button-text .get {
  line-height: 0.8;
  margin-bottom: 13px;
}
.work__button .button-text .shop {
  font-weight: bold;
  font-size: 1.3em;
}
.work__button-white {
  border: 2px solid #e2e4e8;
  background-color: #fff;
}
.work__button-white .button-text .get {
  color: #7c8087;
}
.work__button-white .button-text .shop {
  color: #1d293f;
}
.work__button:hover {
  transform: scale(1.1);
}
.work__button:hover img {
  animation: dance 0.5s ease infinite;
}
.reviews {
  background: #f7f8fa;
  padding-top: 139px;
  position: relative;
  overflow: hidden;
}
.reviews-circle {
  position: absolute;
  top: -381px;
  right: -191px;
  width: 543px;
  height: 543px;
  border-radius: 50%;
  background: #ffd166;
}
.reviews__descr {
  width: 550px;
  margin: 0 auto;
  margin-bottom: 109px;
  text-align: center;
  position: relative;
}
.reviews__descr .title {
  margin-bottom: 19px;
}
.reviews__grid {
  margin: 0 auto 165px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 29px 20px;
}
.reviews__grid-card {
  background: #fff;
  width: 353px;
  height: 188px;
  padding: 22px 20px;
  border: solid 1px #f0f1f3;
  border-radius: 15px;
}
.reviews__grid-card .card-header {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 23px;
}
.reviews__grid-card .card-header .name {
  padding-left: 13px;
  color: #1d293f;
}
.reviews__grid-card .card-header .job {
  color: #7c8087;
  font-size: 0.7em;
}
.reviews__grid-card .card-header .icon {
  position: absolute;
  right: 0;
}
.reviews__grid-card .card-text {
  color: #7c8087;
  font-size: 0.9em;
}
.plan {
  padding-top: 153px;
  margin: 0 auto;
  overflow: hidden;
}
.plan__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}
.plan__header .title {
  max-width: 410px;
}
.plan__header .plan-switch {
  border: 3px solid #ffd166;
  border-radius: 10px;
  width: 345px;
  height: 56px;
}
.plan__header .plan-switch .switch-yearly {
  background: #ffd166;
  color: #1d293f;
  text-align: center;
  padding-top: 16px;
  display: inline-block;
  height: 100%;
  width: 50%;
  text-decoration: none;
}
.plan__header .plan-switch .switch-monthly {
  background: #fff;
}
.plan__descr {
  margin-bottom: 142px;
}
.plan .variant {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}
.plan .variant__name {
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: bold;
  width: 100px;
}
.plan .variant__list {
  line-height: 40px;
  width: 190px;
}
.plan .variant__list li {
  list-style-type: none;
}
.plan .variant__cost {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.017em;
}
.plan .variant__cost p {
  line-height: 1.5;
  font-weight: normal;
  color: #7c8087;
  width: 115px;
}
.plan .divider-plan {
  margin-bottom: 35px;
}
.footer {
  background: #1d293f;
  padding-top: 133px;
  padding-bottom: 29px;
  position: relative;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__descr {
  width: 270px;
  margin-bottom: 123px;
}
.footer__descr img {
  margin-bottom: 22px;
}
.footer__descr .text {
  font-size: 0.9;
  line-height: 1.8;
  margin-bottom: 38px;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
}
.footer__menu ul {
  list-style-type: none;
  max-width: 249px;
}
.footer__menu ul li {
  margin-bottom: 33px;
}
.footer__menu ul li a {
  text-decoration: none;
  color: #e9f7fe;
  font-size: 0.9em;
  line-height: 1.8;
}
.footer__menu ul .top {
  margin-bottom: 32px;
  color: #8c97ac;
}
.footer__menu ul .colored {
  color: #ffd166;
}
.footer__menu .menu-first {
  margin-right: 70px;
}
.footer__menu .menu-second {
  margin-right: 84px;
}
.footer button {
  width: 126px;
  padding-top: 0;
  border: none;
  cursor: pointer;
}
.footer .divider {
  margin-bottom: 26px;
}
.footer .cellar {
  display: flex;
  justify-content: space-between;
}
.footer .cellar p {
  color: #8c97ac;
  font-size: 0.7em;
}
.footer .cellar .social a {
  margin-left: 23px;
}
.footer .circle {
  position: absolute;
  width: 255px;
  height: 255px;
  background-color: #ffd166;
  border-radius: 50%;
  bottom: -132px;
  left: -127px;
}
.footer .rectangle {
  position: absolute;
  width: 419px;
  height: 419px;
  background-color: #37def5;
  border-radius: 35px;
  right: -307px;
  top: -307px;
  transform: rotate(60deg);
}
@media (max-width: 1200px) {
  * {
    font-size: 16px;
  }
  .container {
    max-width: 960px;
  }
  .promo {
    height: 905px;
  }
  .promo img {
    width: 80%;
  }
  .promo__circle {
    transform: scale(0.8);
  }
  .promo__rectangle {
    transform: scale(0.8);
  }
  .promo .button-mini {
    font-size: 0.9em;
  }
  .feature .card {
    padding: 24px 4px 0;
  }
  .feature .card-img {
    width: 40px;
    height: 40px;
  }
  .place__descr .text {
    margin-bottom: 20px;
  }
  .place__descr-item {
    margin-bottom: 0;
  }
  .place__descr-round {
    transform: scale(0.8);
  }
  .place__media {
    transform: scale(0.8);
  }
  .reviews__grid {
    gap: 10px 10px;
  }
  .footer .rectangle {
    display: none;
  }
  .footer .circle {
    display: none;
  }
}
@media (max-width: 992px) {
  * {
    font-size: 16px;
  }
  .container {
    max-width: 720px;
  }
  .promo {
    height: 830px;
  }
  .promo__circle {
    transform: scale(0.8);
  }
  .promo__rectangle {
    transform: scale(0.8);
  }
  .feature__carousel {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    flex-wrap: wrap;
    width: 85%;
    gap: 1%;
    position: unset;
    margin: 0 auto;
    transform: none;
  }
  .feature__carousel .card {
    margin-bottom: 20px;
    padding: 24px 10px 0;
  }
  .feature__carousel .card:first-child,
  .feature__carousel .card:last-child {
    opacity: 1;
  }
  .feature__carousel .card:last-child {
    flex: 1;
    justify-content: center;
  }
  .feature__button {
    margin-top: 62px;
  }
  .place__descr .text {
    margin-bottom: 20px;
  }
  .place__descr-item {
    margin-bottom: 0;
  }
  .place__descr-round {
    transform: scale(0.8);
  }
  .place__media {
    transform: scale(0.8);
  }
  .work__media {
    position: relative;
    transform: scale(0.8);
    left: -59px;
    width: 404px;
  }
  .work__descr {
    margin-left: 0;
  }
  .reviews__grid {
    gap: 10px 10px;
  }
  .footer .menu-first,
  .footer .menu-second {
    margin-right: 10px;
  }
  .footer .menu-third {
    max-width: 186px;
  }
}
@media (max-width: 768px) {
  * {
    font-size: 14px;
  }
  .container {
    max-width: 540px;
  }
  .promo {
    height: 500px;
    position: relative;
  }
  .promo__media img {
    display: none;
  }
  .promo__rectangle {
    transform: translate(-100%, -160%) rotate(45deg);
    animation: none;
  }
  .promo__circle {
    animation: none;
    transform: translate(110%, -160%);
  }
  .feature {
    margin-bottom: 40px;
  }
  .feature .companies {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin-bottom: 40px;
  }
  .feature .companies img {
    margin-bottom: 10px;
  }
  .feature__carousel {
    width: 100%;
  }
  .feature__carousel .card {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  .feature__carousel .card-img {
    margin-bottom: 10px;
  }
  .feature__carousel .card-descr {
    text-align: center;
  }
  .feature__carousel .card:last-child {
    justify-content: normal;
  }
  .divider {
    margin-bottom: 40px;
  }
  .place {
    margin-bottom: 40px;
  }
  .place .container {
    flex-wrap: wrap-reverse;
  }
  .place__descr {
    padding-top: 40px;
    text-align: center;
  }
  .place__descr-item {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .place__descr-item .outline {
    display: inline-flex;
  }
  .work {
    margin-bottom: 40px;
  }
  .work .container {
    flex-direction: column;
  }
  .work__media {
    position: unset;
    left: unset;
  }
  .work__descr {
    text-align: center;
    width: unset;
  }
  .work__button {
    margin: 0 auto 10px;
  }
  .reviews {
    margin-bottom: 40px;
  }
  .reviews__descr {
    margin-bottom: 40px;
  }
  .reviews__grid {
    margin-bottom: 40px;
  }
  .reviews__grid-card {
    width: 45%;
  }
  .plan {
    padding-top: 40px;
  }
  .plan__descr {
    margin-bottom: unset;
  }
  .plan .variant {
    display: flex;
    flex-wrap: wrap;
  }
  .plan .variant__name {
    width: 60%;
  }
  .plan .variant__list {
    width: 40%;
  }
  .plan .variant__cost {
    transform: translateY(-50%);
  }
  .footer {
    padding-top: 40px;
  }
  .footer .wrapper {
    flex-direction: column;
  }
  .footer__descr {
    display: flex;
    width: unset;
    margin-bottom: 23px;
  }
  .footer__descr .text {
    margin-bottom: unset;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .promo {
    height: 100vh;
    padding-top: 40%;
  }
  .promo .wrapper {
    display: none;
  }
  .promo__descr {
    width: unset;
    z-index: 1;
    position: relative;
  }
  .promo__media {
    position: unset;
  }
  .promo__circle {
    display: none;
  }
  .promo__rectangle {
    position: absolute;
    transform: rotate(45deg) scale(1.6);
    top: 17%;
    left: 3%;
  }
  .feature .companies {
    justify-content: space-between;
    width: 90%;
  }
  .feature__text {
    width: unset;
    margin-bottom: 40px;
  }
  .feature .carousel {
    width: 80%;
  }
  .feature__button {
    margin-top: 0;
  }
  .place__descr {
    z-index: 1;
  }
  .place__media .frame {
    display: none;
  }
  .place__media img {
    display: none;
  }
  .place-circle {
    position: absolute;
  }
  .work {
    position: relative;
  }
  .work__descr {
    z-index: 1;
  }
  .work-circle {
    transform: scale(0.8);
    position: absolute;
    left: -50vw;
    bottom: -9vh;
  }
  .work img {
    display: none;
  }
  .reviews {
    padding-top: 40px;
  }
  .reviews__descr {
    z-index: 1;
    width: unset;
    margin-bottom: 20px;
    position: relative;
  }
  .reviews__grid-card {
    width: 90%;
    height: unset;
  }
  .plan {
    padding-top: 0;
    text-align: center;
  }
  .plan__header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .plan .variant {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .plan .variant__cost {
    transform: none;
  }
  .footer__descr {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  .footer__menu {
    flex-direction: column;
    align-items: center;
  }
  .footer .cellar {
    flex-direction: column-reverse;
  }
}
