doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Finity
        link(rel='stylesheet' href='css/style.css')
    body
        section.promo
            .wrapper
                .logo
                    a.nav-item_link(href='#')
                        img(src='img/header/Logo.svg' alt='logo')
                nav
                    ul.nav-list
                        li.nav-item
                            a.nav-item_link(href='#') Demos
                        li.nav-item
                            a.nav-item_link(href='#') Pages
                        li.nav-item
                            a.nav-item_link(href='#') Support
                        li.nav-item
                            a.button.button-mini(href='#') Start 14 Days Free Trial
            .container
                .promo__descr
                    h1 More than your regular email inbox
                    .promo__descr-text
                        | We've helped over 25,000 individuals and companies to grow their business successfully.
                    a.button.promo__button(href='#') Start 14 Days Free Trial
                    .promo__descr-text-mini No credit card required
                .promo__media
                    .promo__circle
                    .promo__rectangle
                    img(src='img/promo/promo-bg.png' alt='promo-bg')
   
        section.feature
            .container
                .companies 
                    img(src='img/feature/companies/GeekWire.png' alt='GeekWire')
                    img(src='img/feature/companies/Slack.png' alt='Slack')
                    img(src='img/feature/companies/Envato.png' alt='Envato')
                    img(src='img/feature/companies/UsaToday.png' alt='UsaToday')
                    img(src='img/feature/companies/Forbes.png' alt='Forbes')
                h2.title
                    | Solution made for you
                p.feature__text
                    | These companies release their own versions of the operating systems with minor changes, and yet always.
                .feature__carousel
                    .card
                        .card-img
                            img(src='img/feature/TeamColoboration.svg' alt='TeamColoboration')
                        .card-descr
                            .card-name
                                | Find Leads
                            p
                                | We've helped over 2,500 job seekers to get into the most popular tech teams.
                    .card
                        .card-img
                            img(src='img/feature/TeamColoboration.svg' alt='TeamColoboration')
                        .card-descr
                            .card-name
                                | Team Collaboration
                            p
                                | We've helped over 2,500 job seekers to get into the most popular tech teams.
                    .card
                        .card-img
                            img(src='img/feature/InstantChat.svg' alt='InstantChat')
                        .card-descr
                            .card-name
                                | Instant Chat
                            p
                                | We've helped over 2,500 job seekers to get into the most popular tech teams.
                    .card
                        .card-img
                            img(src='img/feature/MediaManage.svg' alt='MediaManage')
                        .card-descr
                            .card-name
                                | Media Manage
                            p
                                | We've helped over 2,500 job seekers to get into the most popular tech teams.
                    .card
                        .card-img
                            img(src='img/feature/DedicatedStorage.svg' alt='DedicatedStorage')
                        .card-descr
                            .card-name
                                | Dedicated Storage
                            p
                                | We've helped over 2,500 job seekers to get into the most popular tech teams.
                a.button.feature__button(href='#')
                    img(src='img/feature/Button-img.svg' alt='Button-img')
                    | See Finity in Action

        .divider

        section.place
            .container
                .place__descr
                    h2.title
                        | Get all your emails in a single place
                    .text
                        | These companies release their own versions of the operating systems with minor changes, and yet always with the same bottom line.
                    ul.place__descr-list
                        li.place__descr-item
                            .place__descr-round
                                img(src='img/place/connect.svg')
                            p Connect with new people
                        li.place__descr-item
                            .place__descr-round
                                img(src='img/place/chance.svg')
                            p Increase chance to engage
                        li.place__descr-item
                            .place__descr-round
                                img(src='img/place/storage.svg')
                            p Unlimited storage 
                            p.outline PRO
                .place__media
                    .circle
                    img.place-img-big(src='img/place/place-img-big.png' alt='place-big')
                    .frame
                        img.place-img-small(src='img/place/place-img-small.png' alt='place-small')
        
        section.work
            .container
                .work__media
                    .work-circle
                    img.work-img-big(src='img/work/work-img-big.png' alt='work-big')
                    img.work-img-small(src='img/work/work-img-small.png' alt='work-small')
                .work__descr
                    h2.title
                        | Work anywhere, with any device
                    .text
                        | These companies release their own versions of the operating systems with minor changes, and yet always with the same bottom line.
                    a.work__button(href='#')
                        img(src='img/work/apple.svg' alt='apple')
                        .button-text
                            p.get Download on the
                            p.shop App Store
                    a.work__button.work__button-white(href='#')
                        img(src='img/work/Store.svg' alt='google')
                        .button-text
                            p.get Get it on
                            p.shop Google Play
        
        section.reviews
            .reviews-circle
            .container
                .reviews__descr
                    h2.title
                        | 10,000+ people love us
                    .text
                        | These companies release their own versions of the operating systems with minor changes, and yet always.
                .reviews__grid
                    .reviews__grid-card
                        .card-header
                            img.photo(src='img/reviews/aaron.png' alt='photo')
                            .name Aaron Almaraz
                                p.job CEO & Founder at Gearat
                            img.icon(src='img/reviews/twitter.svg' alt='twitter')
                        .card-text
                            | Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
                    .reviews__grid-card
                        .card-header
                            img.photo(src='img/reviews/phet.png' alt='photo')
                            .name Phet Putrie
                                p.job Freelancer
                            img.icon(src='img/reviews/twitter.svg' alt='twitter')
                        .card-text
                            | Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
                    .reviews__grid-card
                        .card-header
                            img.photo(src='img/reviews/lara.png' alt='photo')
                            .name Lara Madrigal
                                p.job Marketing Specialist
                            img.icon(src='img/reviews/twitter.svg' alt='twitter')
                        .card-text
                            | Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
                    .reviews__grid-card
                        .card-header
                            img.photo(src='img/reviews/marleah.png' alt='photo')
                            .name Marleah Eagleston
                                p.job Founder at Spicenet
                            img.icon(src='img/reviews/twitter.svg' alt='twitter')
                        .card-text
                            | Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
                    .reviews__grid-card
                        .card-header
                            img.photo(src='img/reviews/prescott.png' alt='photo')
                            .name Prescott MacCaffery
                                p.job Writer
                            img.icon(src='img/reviews/twitter.svg' alt='twitter')
                        .card-text
                            | Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
                    .reviews__grid-card
                        .card-header
                            img.photo(src='img/reviews/waiapi.png' alt='photo')
                            .name Waiapi Karaka
                                p.job Designer, Freelancer
                            img.icon(src='img/reviews/twitter.svg' alt='twitter')
                        .card-text
                            | Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design…
        
        section.plan
            .container
                .plan__header
                    h2.title Choose the right plan for your finity
                    .plan-switch
                        a.switch-yearly(href='#') Yearly
                        a.switch-yearly.switch-monthly(href='#') Monthly
                .divider.divider-plan
                .plan__descr
                    .variant
                        .variant__name Starter
                        .variant__list
                                ul
                                    li 10 GB Storage
                                    li 15 Accounts
                                    li 1,000 Connections
                        .variant__cost $228
                                p $19 per month, billed yearly
                        a.button.button-white(href='#') Start 14 Days Free Trial
                    .divider.divider-plan
                    .variant
                        .variant__name Standard
                        .variant__list
                                ul
                                    li 100 GB Storage
                                    li 50 Accounts
                                    li 5,000 Connections
                        .variant__cost $468
                                p $39 per month, billed yearly
                        a.button.button-white(href='#') Start 14 Days Free Trial
                    .divider.divider-plan
                    .variant
                        .variant__name Pro
                        .variant__list
                                ul
                                    li Unlimited Storage
                                    li Unlimited Accounts
                                    li Unlimited Connections
                        .variant__cost $708
                                p $59 per month, billed yearly
                        a.button(href='#') Start 14 Days Free Trial

        footer.footer
            .container
                .wrapper
                    .footer__descr
                        img(src='img/footer/logo-white.svg')
                        .text
                            | Your ulitmate email solution to grow business and engaging with future customers and clients.
                        button.button.button-mini Ask Question
                    .footer__menu
                        ul.menu-first
                            li
                                a.top(href="#") Community 
                            li
                                a(href="#") For Talents
                            li
                                a(href="#") For Companies
                            li
                                a(href="#") Facebook Group
                            li
                                a(href="#") FAQ
                        ul.menu-second
                            li
                                a.top(href="#") About us
                            li
                                a(href="#") Meet the Team
                            li
                                a(href="#") Our Story
                            li
                                a(href="#") Career
                        ul.menu-third
                            li
                                a.top(href="#") Contacts
                            li
                                a(href="#") Feel free to get in touch with us via phone or send us a message.
                            li
                                a.colored(href="tel:+13013403946") +1-301-340-3946
                                br
                                a.colored(href="mailto:info@finity.com") info@finity.com
                .divider
                .cellar
                    p © Finity 2019, All Rights Reserved
                    .social
                        a(href="#")
                            img(src="img/footer/twitter.svg" alt="twitter")
                        a(href="#")
                            img(src="img/footer/fb.svg" alt="facebook")
                        a(href="#")
                            img(src="img/footer/google.svg" alt="google")
