doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet' href='css/style.css')
    body
        header
            .wrapper
                .logo
                    img(src='img/header/logo.svg' alt='logo')
                nav 
                    ul
                        li Demos
                        li Pages
                        li Support
                        li
                            a.button Start 14 Days Free Trial
        section.promo
            .container
                h1 More than your regular email inbox
                h2
                    | We've helped over 25,000 individuals and companies to grow their business successfully.
                a.button Start 14 Days Free Trial
                h3 No credit card required
                .circle
                .rectangle
                img(src='' alt='promo')
                .descr
                    | These companies release their own versions of the operating systems with minor changes, and yet always.
                .carousel
                    .wrapper
                        .card
                            .card-name Team Collaboration
                            .card-img
                            img(src='' alt='promo')
                            .card-descr We've helped over 2,500 job seekers to get into the most popular tech teams.
                a.button
                    img(src='' alt='promo')
                    |   See Finity in Action 
